<!-- <h1 *ngIf="title; else mensagemPadrao">{{ title }}</h1>

<ng-template #mensagemPadrao>
  <h1>Olá caro aluno do Angula</h1>
</ng-template> -->

<!-- ----------------------------------------------------------------------------------- -->
<!-- 
<span [ngSwitch]="title">
  <p *ngSwitchCase="'true'"> 
    Parágrafo de condição verdadeira 
  </p>

  <p *ngSwitchCase="'false'"> 
    Parágrafo de condição falsa 
  </p>

  <p *ngSwitchDefault> 
    Este é um parágrafo pré-definido 
  </p>
</span>

-->

<!-- ----------------------------------------------------------------------------------- -->

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Gênero</th>
      <th>Idade</th>
      <th>Salário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.nome | uppercase}}</td>
      <td>{{cliente.sexo | sexo}}</td>
      <td>{{cliente.idade}}</td>
      <td>{{cliente.Salario | currency: 'KZ '}}</td>
    </tr>
  </tbody>
</table>

<span>{{clientes | json}}</span>
<router-outlet></router-outlet>